* {
	word-break: keep-all;
	box-sizing: border-box;
}

body {
	background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 234, 181, 1) 100%);
	margin: 0;
	padding: 10px;
}

.nav-ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 10px;
	border: 2px solid lightgray;
	background-color: white;
	margin-bottom: 50px;
}

li {
	list-style: none;
	font-weight: bold;
	padding: 5px;
}

figcaption {
	color: #949494;
	font-size: 10pt;
}

h1 {
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.3;
	margin: 0px 0px 20px 0;
	color: white;
	text-shadow: 0 0 2px white, 0 0 3px #000000, 0 0 10px #000000, 0 0 15px #000000;
}

h2 {
	border-left: 7px solid dimgray;
	padding-left: 5px;
}

h3 {
	background: #ffffff;
	background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	padding: 5px;
}

.middle {
	text-align: center;
	margin-bottom: 30px;
	padding: 0 10px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.orange {
	color: orange;
}

.small {
	max-width: 200px;
	width: 100%;
}

.big {
	width: 100%;
}

div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

section {
	border: 2px solid rgba(255, 234, 181, 1);
	width: 100%;
	max-width: 500px;
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
}

article {
	border: 2px outset yellow;
	width: 100%;
	max-width: 450px;
	background-color: #F2F1E4;
	padding: 10px;
	margin-bottom: 10px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

footer {
	color: #949494;
	font-size: 9pt;
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 768px) {
	body {
		padding: 10px;
	}
	
	div {
		flex-direction: column;
		align-items: center;
	}
	
	section {
		width: 100%;
		max-width: 500px;
		margin-bottom: 20px;
	}
	
	article {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.big {
		width: 100%;
	}
	
	.small {
		width: 150px;
	}
	
	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	h1 {
		font-size: 24px;
		padding: 0 10px;
	}
	
	.middle {
		padding: 0 10px;
	}
}